@import url('http://fonts.cdnfonts.com/css/cocogoose');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > *{
  padding: 0 15px;
}

header {
  display: flex;  
  align-self: flex-start;
  padding-top: 10px;
}

#menu-icon {
  margin-left: 15px;
}

#menu-icon .line {
  width: 30px;
  height: 5px;
  background-color: #272a31;
  margin: 5px 0;
}

.orange-line {
  width: 20px;
  height: 1px;
  background-color: #ec5242;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
}

main > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}