@import url('http://fonts.cdnfonts.com/css/cocogoose');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > *{
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;  
  align-self: flex-start;
  padding-top: 10px;
}

#mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: #d3d3d3;
  align-items: center;
}

#mobile-menu #close-btn {
  align-self: flex-start;
  margin-top: 20px;
  padding-left: 15px;
  font-size: 30px;
}

#mobile-menu a {
  margin-top: 10%;
  color: #272a31;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #ec5242;
  width: 50%;
  text-align: center;
  font-size: 25px;
}

#menu-icon {
  margin-left: 15px;
}

#menu-icon .line {
  width: 30px;
  height: 5px;
  background-color: #272a31;
  margin: 5px 0;
}

.orange-line {
  width: 20px;
  height: 1px;
  background-color: #ec5242;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d334;
  min-width: 100%;
}

main > *,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#national {
  border: gray 1px solid;
  background-color: white;
  width: 90%;
  max-width: 900px;
  align-self: center;
}

#titles {
  color: #ec5242;
  margin-bottom: 20px;
}

#national {
  margin-bottom: 20px;
}

#national p {
  margin: 20px 5px;
}

#please {
  margin-bottom: 80px;
}

.content span {
  display: block;
}

.content a {
  color: black;
  font-weight: bolder;
}

.content p {
  margin-bottom: 0;
}

.content img {
  width: 80%;
  margin: 8% 0;
  border: #d3d3d3 1px solid;
  padding: 10px;
}

#upper-title {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  padding-top: 15px;
  margin-bottom: 0;
}

#main-title {
  font-family: 'COCOGOOSE', sans-serif;
  line-height: 1;
  font-weight: normal;
} 

.previous {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.previous div {
  height: 200px;
  width: 350px;
}

#C2020 {
  background-image: url('./images/cartagena.jpg');
  background-size: 100%;
  margin: 10px 0;
}

#C2018 {
  background-image: url('./images/medellin.jpg'); 
  background-size: 100%; 
}

.background-orange {
  background-color: rgba(236, 82, 65, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.content h3 {
  font-size: 35px;
  font-weight: bolder;
  margin: 0;
}

.content .national {
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}

.content h3,
.content .national {
  color: #fff;
  font-family: 'Lato', sans-serif;
}

#partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
}

#partners {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  justify-content: center;
}

#partners img {
  /* max-width: 25%; */
  max-height: 30px;
}

#partner h2 {
  margin-bottom: 10px;
  color: #d3d3d3;
}

#partner .orange-line {
  margin-bottom: 20px;
}

.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body > * {
    justify-content: center;
  }

  .desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  a {
    font-family: 'Lato', sans-serif;
  }

  header {
   align-self: center;
   min-width: 100%;
  }

  .desktop-header-container {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
  }

  .desktop-header-container > * {
    text-decoration: none;
    font-weight: bold;
  }

  #header-up {
    display: flex;
    justify-content: center;
    background-color: #272a31;
  }

  #header-up .desktop-header-container {
    min-height: 30px;
  }

  #header-up .desktop-header-container > * {
    color: #d3d3d3;
    margin-left: 5px;
    font-size: 70%;
    margin-left: 2%;
  }

  #header-up .desktop-header-container a img {
    max-width: 80%;
  }

  #down {
    display: flex;
    justify-content: center;
    min-height: 60px;
  }

  #down img {
    width: 65%;
  }

  #down .desktop-header-container {
    justify-content: space-between;
  }

  .a_container {
    min-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .a_container a {
    text-decoration: none;
    color: #272a31;
    font-size: 80%;
  }

  #CB-button {
    color: #ec5242;
    border: #ec5242 solid;
    padding: 7px;
  }

  #menu-icon {
    display: none;
  }

  #titles {
    font-size: 150%;
  }

  #first-content {
    width: 100%;
    max-width: 900px;
  }

  .previous {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 60px 0 100px 0;
  }

  .content span {
    display: inline;
  }
  
  #C2020 {
    margin: 0;
  }

  #partner {
    min-width: 98vw;
  }

  #partners {
    width: 100%;
    margin: 20px 0 40px 0;
  }
 
}