@import url('http://fonts.cdnfonts.com/css/cocogoose');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > *{
  padding: 0 15px;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;  
  align-self: flex-start;
  padding-top: 10px;
}

#mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: #d3d3d3;
  align-items: center;
}

#mobile-menu #close-btn {
  align-self: flex-start;
  margin-top: 20px;
  padding-left: 15px;
  font-size: 30px;
}

#mobile-menu a {
  margin-top: 10%;
  color: #272a31;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #ec5242;
  width: 50%;
  text-align: center;
  font-size: 25px;
}

#menu-icon {
  margin-left: 15px;
}

#menu-icon .line {
  width: 30px;
  height: 5px;
  background-color: #272a31;
  margin: 5px 0;
}

.orange-line {
  width: 20px;
  height: 1px;
  background-color: #ec5242;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
}

main > *,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#national {
  border: gray 1px solid;
}

#titles {
  color: #ec5242;
}

.content a {
  color: black;
  font-weight: bolder;
}

.content p {
  margin-bottom: 0;
}

#upper-title {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  padding-top: 15px;
  margin-bottom: 0;
}

#main-title {
  font-family: 'COCOGOOSE', sans-serif;
  line-height: 1;
  font-weight: normal;
} 

.content #C2020 {
  background-image: url('./images/Conference1.jpg');
  background-size: 100%;
  height: 150px;
  width: 280px;
}

.content #C2018 {
  background-image: url('./images/Conference2.jpg'); 
  background-size: 100%; 
  height: 150px;
  width: 280px;
}

.previous {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column; /* change in media query */
}

.background-orange {
  background-color: rgba(236, 82, 65, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h3 {
  font-size: 35px;
  font-weight: bolder;
  margin: 0;
}

.content .national {
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}

.content h3,
.content .national {
  color: #d3d3d3;
  font-family: 'Lato', sans-serif;
}

#partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
}

#partners {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  justify-content: center;
}

#partners img {
  max-width: 25%;
  max-height: 50px;
}

#partner h2 {
  margin-bottom: 10px;
  color: #d3d3d3;
}

#partner .orange-line {
  margin-bottom: 20px;
}